:root{
    --colorRosa: #f67274;
    --colorPrimario: #e8edca;
    --colorRojo : #cc2c41;
    --colorTextoSecundario: #676767;
}

html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;

    background-color: var(--colorPrimario);


    font-family: 'Prompt', sans-serif;

    overflow-x: hidden;
}

h2{
    font-size: 4rem;
    margin:0;
    letter-spacing: 1px;
}

.btn{
    width: 200px;
    padding: 1rem 0;
    display: inline-block;
    text-align: center;
    background-color: var(--colorRojo);
    text-align: center;

    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.btn:hover{
    background-color: #cf041f;
}

.btnMenu{
    display: block;
    background-color: transparent;
    color: var(--colorRosa);
}

.btnMenu:hover{
    background-color: white;
}

.activo{
    position: relative;
    background-color: white;
}
.activo::before{
    position: absolute;
    content: "";
    top:0;
    left:0;
    width: 1rem;
    height: 100%;
    background-color:orangered;
}


header{
    width: 100vw;
    height: 100px;
    background-color: var(--colorRosa);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.30);
}

header .buscador{
    width: 500px;
    height: 50%;

    border-radius: 1rem;
    background-color: var(--colorPrimario);

    color: var(--colorTextoSecundario);
    position: relative;
}

.buscador input{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border-style: none;
    background-color: transparent;
    background-color: none;
    color: var(--colorTextoSecundario);

    font-size: 1.2rem;
    padding-left: 10%;
}

.buscador i{
    position: absolute;
    font-size: 2rem;

    left: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/*MAin*/
.contenedor{
    width: 70%;
    margin: 2rem auto;

}

p{
    font-size: 1.2rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: justify;
}

.informacionPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.informacionPrincipal .informacion{
    flex: 0 0 calc(50%);
}

.informacion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.alinearArriba{
    justify-content: flex-start;
}

.botones{
    display: flex;
    justify-content: space-between;
}
.informacionPrincipal .imagen{
    flex: 0 0 calc(50%);

    display: flex;
    justify-content: center;
}

.informacionPrincipal .imagen img{
    width: 70%;
}

/* FOoter*/

footer{
    width: 100vw;
    height: 100px;
    background-color: var(--colorRosa);
    
    box-shadow: 0px -10px 14px 0px rgba(0, 0, 0, 0.30);
}

.flex-2r{
    flex: 0 0 15%!important;
}

.flex-10r{
    flex: 0 0 75%!important;
}

.flexCol{
    flex-direction: column;
}

.btnNuevo{    
    display: flex;
    justify-content: flex-end;
}

h3{
    background-color:white;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid #7c7b7b;
    margin: 1rem 0 0 0;
}

.reporte{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #7c7b7b;
    padding: 1rem;
}

.informacionReporte p{
    font-size: 0.9rem;
    letter-spacing: normal;
    word-spacing: normal;
    color: #333333;
}

.informacionReporte p.info{
    font-size: 0.7rem;
    color: #7c7b7b;
}

.informacionReporte p span{
    color: #7c7b7b;
    font-size: 0.8rem;
    text-decoration: underline;
}

.informacionReporte p span:hover{
    cursor: pointer;
}

.destacarReporte{
    display: flex;  
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.destacarReporte i{
    color: orangered;
    font-size: 2rem;
    cursor: pointer;
}

.nuevoReporte{
    background-color:white;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid #7c7b7b;
    margin: 1rem 0 0 0;
}

.block{
    display: none;
}

.campo{
    display: flex;
    justify-content: start;
    width: 100%;
    font-size: 1rem;
}

.campo label{
    flex: 0 0 30%;
}

.campo input, .campo select, .campo textarea{
    flex: 1;
}

#nuevo{
    margin-top: 1rem;
    font-size: 0.8rem!important;
}

span{
    font-size:1.2rem;
    color: #676767;
}

.row{
    flex-direction: column;
}

.tabla{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

span:nth-child(1){
    color:red;
    font-weight: bold;
}

